

header {
	height: 100px;
	margin-top: 20px;
}

#header_logo {
	margin: 20px auto 0px auto;
	display: block;
	width: 220px;
	height: 93px;
	background-image:url(Images/messina-header-logo.png);
	background-repeat: no-repeat;
	background-position: center;
}


.container {
	width: 940px;
	position: relative;
	margin: 0 auto;

}

#main_content {
	margin-top: 0px;
	width: 700px;
	float: left;
}

body {
	margin-left: 0px;
	margin-right: 0px;
}


.hidden {
	/* display: none; */
	/* visibility: none; */
	position: fixed;
	top: -9999px;
}



/* Are the pictures supposed to be clickable? Make sure the quick view thing comes up
when you hover. Don't forget to add the >> arrow for the hover over the menus on side
and bottom

Utilize that both folder use a lot of similar css. just keep adding to the css file.
check with the other interns/richard */









/* Nav */

#primary_nav {
	width: 100%;
	height: 40px;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	margin-bottom: 50px;
	margin-top: 10px;
}

#primary_nav ul {
	text-align: center;
	margin: 0px;
}

#primary_nav ul li {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;

}

#primary_nav ul li a {
	margin: -3px 30px 10px 0px;
	padding-top: 16px;
	font-family: Arial, sans-serif;
	font-size: 18px;
	text-align: center;
	color: #cfcfcf;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 100;
	letter-spacing: 0.1em;
	display: block;
}

#primary_nav ul li a:hover {
	margin: -3px 30px 10px 0;
	padding-top: 13px;
	color: #2f2e46;
	border-top: 3px solid #2f2e46;
}

/* Footer */

#primary_footer {
	clear: both;
	width: 100%;
	position: relative;
	margin: 0 auto;
	border-top: 1px solid #cfcfcf;
	background-color: #f0effa;
}

#primary_footer ul {
	width: 220px;
	display: inline-block;
	vertical-align: top;
	padding: 0px;
	margin: 40px 0px 120px 0px;
	list-style-type: none;
}

#primary_footer ul li {
	margin-bottom: 10px;
	font-size: 16px;
	font-family: Georgia, Times, "Times New Roman", serif;
}

#primary_footer ul li a {
	font-style: italic;
	text-decoration: none;
	color: #000000;

}

#about_logo {
	height: 93px;
	width: 222px;
	margin-top: -17px;
	display: block;
	background-image: url(Images/messina-about-logo.png);
	background-repeat: no-repeat;
	background-position: center;
}

#footer_content {
	width: 940px;
	position: relative;
	margin: 0 auto;
}










/* Sidebar */

#sidebar {
	width: 220px;
	float: right;
}

#sidebar ul {
	list-style-type: none;
	padding: 0px;
}

#sidebar ul li {
	margin-bottom: 15px;
}

#sidebar ul li a {
	font-style: italic;
	color: #cfcfcf;
	text-decoration: none;
	font-size: 18px;
	font-weight: 100;
}

#sidebar_title {
	font-family: Arial, sans-serif;
	border-bottom: 1px solid #2f2e46;
	font-size: 18px;
	letter-spacing: 0.05em;

}


/* Search Box */

#search_area {
	padding: 0px;
	padding-bottom: 17px;
}

#search_box {
	border: 1px solid #cfcfcf;
	height: 30px;
	padding: 0px;
	margin: 0px;
}

#search_button {
	height: 30px;
	border-top: 1px solid #cfcfcf;
	background-color: transparent;
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #cfcfcf;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 0.05em;
	padding: 0px 3px;
	margin: 0px 1px;
}
