


p {
	font-family: Georgia, Times, "Times New Roman", serif;
	color: #4c4c4c;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, sans-serif;
	color: #2f2e46;
}


.container {
	width: 940px; 
	position: relative; 
	margin: 0 auto;
}

.left_side_element {
	width: 700px;
	float: left;
}

.right_side_element {
	margin-left: 710px;
}



.hidden {
	display: none;
	visibility: none;
}


header {
	height: 100px;
	margin-top: 20px;
	background-image: url(images/messina-header-logo.png);
	background-repeat: no-repeat;
	background-position: center;
}


/* Nav */

nav{
	width: 100%;
	height: 40px;
	margin: 10px 0 10px 0;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}
nav ul{
	text-align: center;
	margin: 0;
}
nav ul li{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}
nav ul li a{
	margin: -3px 30px 10px 0;
	padding-top: 16px;
	font-family: Arial, sans-serif;
	font-size: 18px;
	text-align: center;
	color: #cfcfcf;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 100;
	letter-spacing: 0.1em;
	display: block;
}
nav ul li a:hover{
	margin: -3px 30px 10px 0;
	padding-top: 13px;
	color: #2f2e46;
	border-top: 3px solid #2f2e46;
}



 /* Footer */

footer {
	clear: both;
	width: 100%;
	position: relative;	
	margin: 0 auto;
	border-top: 1px solid #cfcfcf;
	background-color: #f0effa;
}

footer ul {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

#footer_links {
	display: inline-block;
	margin-left: 166.5px;
}

#footer_links ul {
	vertical-align: top;
	padding: 0px;
	margin: 40px 80px 120px 0px;
	list-style-type: none;
}


#footer_links ul li {
	margin-bottom: 10px;
	font-size: 16px ;
	font-family: Georgia, Times, "Times New Roman", serif;
}
/* better to use margin or padding for spacing these things? */

#footer_links ul li a {
	font-style: italic;
	text-decoration: none;
	color: #000000;


}


/* Sidebar */

#sidebar {	

}

#sidebar ul li {
	magin-bottom: 10px;
	font-size: 18px;
	font-family: Georgia, Times, "Times New Roman", serif;

}

#sidebar ul li a {
	font-style: italic;
	color: #cfcfcf;
	text-decoration: none;


}

#about_messina {
	font-family: Arial, sans-serif;
	border-bottom: 1px solid #2f2e46;
	font-size: 18px;

}

#top_nav {


}


#about_logo {
	height: 93px;
	width: 222px;
	margin-top: 20px;*/
	background-image: url(images/messina-about-logo.png);
	background-repeat: no-repeat;
	background-position: center;
}





