

body {
	margin-bottom: 0px;

}

p {
	font-family: Georgia, Times, "Times New Roman", serif;
	color: #4c4c4c;

}

h1, h2, h3, h4, h5, h6 {
	font-family: 'junctionRegular', Arial, sans-serif;
	color: #2f2e46;
	font-weight: 100;
	letter-spacing: 0.18em;
}



.container {
	width: 940px; 
	position: relative;
	margin: 0 auto;
}

#page {
	display: table;
	clear: both;
	content: "";
	margin-bottom: 5px;

}

#main-content {
	margin-top: 0px;
	width: 700px;
	float: left;
}

#main-heading {
	margin-top: 0px;
}


.column-text {
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;

	-moz-column-gap:60px; /* Firefox */
	-webkit-column-gap:60px; /* Safari and Chrome */
	column-gap:60px;

	padding-right: 40px;
	word-break:break-all;
	font-size: 16px;
	color: #4c4c4c;
}

.hidden {
	/* display: none; */
	/* visibility: none; */
	position: fixed;
	top: -9999px;
}


/* Fonts */

@font-face {
	font-family: 'junctionRegular';
	src: url('../font/Junction-webfont.eot');
	src: url('../font/Junction-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../font/Junction-webfont.woff') format('woff'),
	     url('../font/Junction-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/* Header */

header {
	height: 100px;
	margin-top: 20px;	
}

#header-logo {
	margin: 20px auto 0px auto;
	display: block;
	width: 222px;
	height: 93px;
	background-image: url(Images/messina-header-logo.png);
	background-repeat: no-repeat;
	background-position: center;	

}

/* Body  */

body {
	margin-left: 0px;
	margin-right: 0px;

}


/* Nav */

#nav-content {

}

#primary-nav {
	width: 100%;
	height: 40px;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	margin-bottom: 50px;
	margin-top: 10px;
}

#primary-nav ul {
	text-align: center;
	margin: 0;
}

#primary-nav li {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}
#primary-nav ul li a {
	line-height: 45px;  /* 45 instead of 40? */
	margin: -3px 30px 0px 0; 
	/* padding-top: 16px; */
	font-family: 'junctionRegular', Arial, sans-serif;
	font-size: 18px;
	text-align: center;
	color: #cfcfcf;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 100;
	letter-spacing: 0.1em;
	display: block;
}

#primary-nav ul li a:hover {
	line-height: 39px;
	margin: -3px 30px 0px 0;
	/* padding-top: 13px; */
	color: #2f2e46;
	border-top: 3px solid #2f2e46;
}

 /* Footer */

#primary-footer {
	clear: both;
	width: 100%;
	position: relative;	
	margin: 0 auto;
	border-top: 1px solid #cfcfcf;
	background-color: #f0effa;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) -10%,rgba(0,0,0,0) 3%), url(Images/Untitled-1.png);
	background: -moz-linear-gradient(top, rgba(0,0,0,0.7) -10%, rgba(0,0,0,0) 3%), url(Images/Untitled-1.png);
	background: -o-linear-gradient(top, rgba(0,0,0,0.7) -10%,rgba(0,0,0,0) 3%), url(Images/Untitled-1.png);
	background:	-ms-linear-gradient(top, rgba(0,0,0,0.7) -10%,rgba(0,0,0,0) 3%), url(Images/Untitled-1.png);
	background:	linear-gradient(to bottom, rgba(0,0,0,0.7) -10%,rgba(0,0,0,0) 3%), url(Images/Untitled-1.png)

}

#primary-footer ul {
	width: 245px;
	display: inline-block;
	vertical-align: top;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}


#primary-footer ul li {
	margin-bottom: 10px;
	font-size: 16px ;
	font-family: Georgia, Times, "Times New Roman", serif;
}


#primary-footer ul li a {
	font-style: italic;
	text-decoration: none;
	color: #000000;
}



#about-logo {
	height: 93px;
	width: 222px;
	margin-top: -17px;
	display: inline-block;
	background-image: url(Images/messina-about-logo.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-left: -40px;
}

#footer-content {
	/* Note that footer-content also has the container class applied to it
	in the html, which sets height, margins, and position attributes*/
	padding: 40px 0px 120px 0px;

}







/* Sidebar */

#sidebar {
	width: 220px;
	float: right;
}

#sidebar ul {
	list-style-type: none;
	padding: 0px;
}

#sidebar ul li {
	margin-bottom: 15px;
}

#sidebar ul li a {
	font-style: italic;
	color: #cfcfcf;
	text-decoration: none;
	font-size: 18px;	
	font-weight: 100;
}

#sidebar-title {
	font-family: 'junctionRegular', Arial, sans-serif;
	border-bottom: 1px solid #2f2e46;
	font-size: 18px;
	letter-spacing: 0.04em;
}


/* Search Box */

#search-area {
	padding: 0px;
	padding-bottom: 17px;

}

#search-input {
	border: 1px solid #cfcfcf;
	height: 30px;
	padding: 0px;
	margin: 0px;

}

#search-button {
	height: 32px;
	margin: 0px 0px 0px 0px;
	border: 1px solid #cfcfcf;
	background-color: transparent;
	font-family: 'junctionRegular', Arial, sans-serif;
	font-size: 16px;
	color: #cfcfcf;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 0.05em;
}




/* about.html css */





/*  list.html new css */

#product-list {
	list-style: none;
	padding: 0px;

}


#product-list li {
	width: 220px;
	height: 220px;
	margin: 0px;
	display: inline-block;
	list-style: none;
}

#product-list li:nth-of-type(3n) {
	margin: 0 0 20px 0;
}

#product-list li a {
	width: 220px;
	height: 220px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
}

#big-sur-table {

	background-image: url(Images/big-sur-table.png);
}

#basque-honey {
	background-image: url(Images/basque-honey.png);
}

#cucina {
	background-image: url(Images/cucina.png);
}

#arlington {
	background-image: url(Images/arlington.png);
}

#pacifica {
	background-image: url(Images/pacifica.png);
}

#sideboard {
	background-image: url(Images/sideboard.png);
}





 



