

.container {
	width: 940px; 
	position: relative; 
	margin: 0 auto;
}

.main_content {
	width: 700px;
	float: left;


}

.sidebar {
	margin-left: 710px;


}


.hidden {
	display: none;
	visibility: none;
}



header #header_logo {
	background: url('../img/messina-logo.png');
	background-repeat: no-repeat;
	width: 222px;
	height: 93px;
	display: block;
	position: relative;
	margin: 0 auto;
}

footer {
	position:fixed;
	bottom:0;

}